.main {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-top: 60px;
}

.DropdownForm {
  padding-bottom: 15px;
  display: grid;
  justify-content: center;
  align-content: center;

}

.submit {
  margin-left: 5px;
}
